In [104]:
import pandas as pd

In [86]:
data = pd.read_csv(r'G:\Other computers\My Laptop D14\Belgeler\CODING\Python.PROJECTS\MTM-DataMining-FlightDelay\manipulated_data\flightDelay_manipulated2.csv')
df = data.copy()

In [87]:
df.head()

,Flight_Number_Marketing_Airline,CRSDepTime,DepTime,DepTimeBlk,TaxiOut,TaxiIn,ArrTime,Cancelled,Diverted,CRSElapsedTime,...,ArrDelayMinutes,ArrDel15,ArrivalDelayGroups,DelayLabel,TaxiOutLabel,ElapsedError,ElapsedErrorLabel,AirTimeLabel,OriginAirport,DestAirport
0,1582,1631,1627.0,1600-1659,15.0,5.0,1820.0,0.0,0.0,110.0,...,0.0,0.0,-1.0,On Time,15>x<20,-3.0,Took Shorter than Planned,Medium Flight,ATL,FLL
1,1583,1024,1019.0,1000-1059,17.0,3.0,1212.0,0.0,0.0,123.0,...,0.0,0.0,-1.0,Early,15>x<20,10.0,Hitch (<20 min),Medium Flight,FLL,RDU
2,1584,1117,1113.0,1100-1159,14.0,4.0,1131.0,0.0,0.0,85.0,...,0.0,0.0,-1.0,On Time,10>x<15,7.0,Hitch (<10 min),Medium Flight,ATL,JAN
3,1584,1237,1230.0,1200-1259,11.0,5.0,1435.0,0.0,0.0,81.0,...,0.0,0.0,-1.0,Early,10>x<15,16.0,Hitch (<20 min),Short Flight,JAN,ATL
4,1585,900,857.0,0900-0959,13.0,8.0,1038.0,0.0,0.0,110.0,...,0.0,0.0,-1.0,On Time,10>x<15,9.0,Hitch (<10 min),Medium Flight,RIC,ATL

In [88]:
col_selection = ['Flight_Number_Marketing_Airline', 'DepTimeBlk', 'AirTime', 'OriginAirport', 'DelayLabel']

df_model = df[col_selection]

In [89]:
value_counts = df_model['OriginAirport'].value_counts() 
value_counts

OriginAirport
ATL    14881
ORD    14509
DFW    13712
CLT    11476
DEN    11294
       ...
ART       13
CGI       10
CYS        3
ATY        2
PIR        2
Name: count, Length: 318, dtype: int64

In [90]:
total_counts = value_counts.values.sum()
total_counts

291532

In [91]:
total = 0
liste = []
threshold_ = 0.75
for i in range(len(value_counts)):
    value_ = value_counts.values[i]
    total += value_
    liste.append(value_counts.index[i])
    if total > total_counts * threshold_: break

In [92]:
len(liste)

46

In [93]:
df_model2 = df_model[df_model['OriginAirport'].isin(liste)]

In [94]:
df_model2.reset_index(drop=True, inplace=True)

In [95]:
value_counts = df_model2['Flight_Number_Marketing_Airline'].value_counts() 
value_counts

Flight_Number_Marketing_Airline
2438    182
493     152
2368    147
2058    144
1129    143
       ...
6196      1
3225      1
5399      1
5914      1
5364      1
Name: count, Length: 6093, dtype: int64

In [96]:
total_counts = value_counts.values.sum()
total_counts

219614

In [97]:
total = 0
liste = []
threshold_ = 0.75
for i in range(len(value_counts)):
    value_ = value_counts.values[i]
    total += value_
    liste.append(value_counts.index[i])
    if total > total_counts * threshold_: break

In [98]:
len(liste) 
#bu oldukÃ§a fazla. EÄŸitim sÃ¼resini ÅŸahlandÄ±racak azizim. Vur gitsin kafasÄ±nÄ±, KarahanlÄ±!

2834

In [99]:
df_model3 = df_model2[df_model2['Flight_Number_Marketing_Airline'].isin(liste)]
df_model3.reset_index(drop=True, inplace=True)

In [100]:
df_model4 = df_model2.drop('Flight_Number_Marketing_Airline', axis=1)

In [102]:
df_model3

,Flight_Number_Marketing_Airline,DepTimeBlk,AirTime,OriginAirport,DelayLabel
0,1582,1600-1659,93.0,ATL,On Time
1,1583,1000-1059,93.0,FLL,Early
2,1586,1000-1059,178.0,MSP,Delay
3,1587,1400-1459,55.0,ATL,Delay
4,1587,1600-1659,67.0,RDU,On Time
...,...,...,...,...,...
164728,5947,0800-0859,47.0,DFW,Early
164729,5947,0800-0859,47.0,DFW,Early
164730,5986,1000-1059,197.0,DFW,On Time
164731,5986,1000-1059,173.0,DFW,Delay
164732,5986,1000-1059,189.0,DFW,On Time

In [103]:
ohe_cols = ['Flight_Number_Marketing_Airline', 'DepTimeBlk', 'OriginAirport']
df_ohe = pd.get_dummies(df_model3, columns=ohe_cols)

In [106]:
df_ohe

,AirTime,DelayLabel,Flight_Number_Marketing_Airline_1,Flight_Number_Marketing_Airline_2,Flight_Number_Marketing_Airline_3,Flight_Number_Marketing_Airline_11,Flight_Number_Marketing_Airline_12,Flight_Number_Marketing_Airline_19,Flight_Number_Marketing_Airline_20,Flight_Number_Marketing_Airline_28,...,OriginAirport_RSW,OriginAirport_SAN,OriginAirport_SEA,OriginAirport_SFO,OriginAirport_SJC,OriginAirport_SLC,OriginAirport_SMF,OriginAirport_SNA,OriginAirport_STL,OriginAirport_TPA
0,93.0,On Time,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,93.0,Early,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,178.0,Delay,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,55.0,Delay,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,67.0,On Time,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164728,47.0,Early,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
164729,47.0,Early,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
164730,197.0,On Time,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
164731,173.0,Delay,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
164732,189.0,On Time,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [107]:
df_ohe.shape

(164733, 2895)

**Welcome to curse of dimensionality side! ðŸ”¥**

Ã‡ok bÃ¼yÃ¼k oldu B planÄ±nÄ± devreye sokuyoruz.

In [110]:
df_model4

       DepTimeBlk  AirTime OriginAirport DelayLabel
0       1600-1659     93.0           ATL    On Time
1       1000-1059     93.0           FLL      Early
2       1100-1159     60.0           ATL    On Time
3       1000-1059    178.0           MSP      Delay
4       1400-1459     55.0           ATL      Delay
...           ...      ...           ...        ...
219609  1400-1459     78.0           DFW      Delay
219610  1400-1459    101.0           DFW    On Time
219611  1400-1459     99.0           DFW      Delay
219612  1700-1759     67.0           DFW    On Time
219613  1700-1759     71.0           DFW      Delay

[219614 rows x 4 columns]

In [111]:
ohe_cols = ['DepTimeBlk', 'OriginAirport']
df_ohe = pd.get_dummies(df_model4, 
                        columns=ohe_cols)

In [112]:
df_ohe.shape

(219614, 61)

In [113]:
df_ohe.to_csv(r'G:\Other computers\My Laptop D14\Belgeler\CODING\Python.PROJECTS\MTM-DataMining-FlightDelay\manipulated_data\flightDelay_preprocessed_for_SVM.csv', index=False)