In [19]:
import pandas as pd
import numpy as np

# 5 kolonlu ve 10 satırlı bir DataFrame oluşturma
data = {
    'A': np.random.randint(1, 100, 10),
    'B': np.random.rand(10),
    'C': ['X', 'Y', 'Z', 'W', 'U', 'V', 'T', 'S', 'R', 'Q'],
    'D': np.random.choice(['Red', 'Blue', 'Green'], 10),
    'E': ['Apple', 'Banana', 'Cherry', 'Date', 'Grape', 'Fig', 'Kiwi', 'Lemon', 'Mango', 'Orange']
}

df = pd.DataFrame(data)

# DataFrame'i görüntüleme
print(df)

    A         B  C      D       E
0  63  0.719437  X  Green   Apple
1   9  0.180069  Y    Red  Banana
2  64  0.861101  Z   Blue  Cherry
3  39  0.349025  W   Blue    Date
4  62  0.765303  U  Green   Grape
5  34  0.580755  V   Blue     Fig
6  15  0.827399  T  Green    Kiwi
7  86  0.017697  S    Red   Lemon
8  61  0.597569  R  Green   Mango
9  58  0.362652  Q    Red  Orange

In [20]:
liste = ['B', 'D', 'E']

df[liste].astype(str).agg(' / '.join, axis=1).to_frame(' / '.join(liste))

                            B / D / E
0  0.7194374408445545 / Green / Apple
1  0.18006929352623569 / Red / Banana
2  0.8611006988037772 / Blue / Cherry
3    0.3490251443607042 / Blue / Date
4  0.7653025602490283 / Green / Grape
5     0.5807546205415189 / Blue / Fig
6    0.827398538003766 / Green / Kiwi
7  0.017696620090411175 / Red / Lemon
8  0.5975687022284476 / Green / Mango
9   0.3626519384211283 / Red / Orange

In [21]:
def my_decorator(func):
    def wrapper():
        print("Fonksiyon öncesinde bir şeyler yapılabilir.")
        func()
        print("Fonksiyon sonrasında bir şeyler yapılabilir.")
    return wrapper

@my_decorator
def say_hello():
    print("Merhaba!")

# Fonksiyonu çağırdığınızda decorator devreye girer.
say_hello()

Fonksiyon öncesinde bir şeyler yapılabilir.
Merhaba!
Fonksiyon sonrasında bir şeyler yapılabilir.

In [22]:
# defining a decorator
def hello_decorator(func):
 
    # inner1 is a Wrapper function in 
    # which the argument is called
     
    # inner function can access the outer local
    # functions like in this case "func"
    def inner1():
        print("Hello, this is before function execution")
 
        # calling the actual function now
        # inside the wrapper function.
        func()
 
        print("This is after function execution")
         
    return inner1
 
 
# defining a function, to be called inside wrapper
def function_to_be_used():
    print("This is inside the function !!")
 
 
# passing 'function_to_be_used' inside the
# decorator to control its behaviour
    
# function_to_be_used = hello_decorator(function_to_be_used)
 
 
# calling the function
function_to_be_used()

This is inside the function !!

In [23]:
# defining a decorator
def hello_decorator(func):

    def inner1():
        print("Hello, this is before function execution")
 
        # calling the actual function now
        # inside the wrapper function.
        func()
 
        print("This is after function execution")
         
    return inner1
 
 
# defining a function, to be called inside wrapper

@hello_decorator
def function_to_be_used():
    print("This is inside the function !!")
 
 
# passing 'function_to_be_used' inside the
# decorator to control its behaviour
    
# function_to_be_used = hello_decorator(function_to_be_used)
 
 
# calling the function
function_to_be_used()

Hello, this is before function execution
This is inside the function !!
This is after function execution

In [24]:
import pandas


df = pandas.DataFrame(columns=['col1', 'col2', 'col3'])
s = pandas.Series(['hey', 'selam', 19], index=df.columns)

df = pandas.concat([df, s.to_frame().T])

In [25]:
s = pandas.Series(['hey', 'selam', 19], index=df.columns)

df = pandas.concat([df, s.to_frame().T])

In [26]:
def func():
    x = 10
    y = 30

    return x,y


u = func()[1]
u

30

In [27]:
pandas.DataFrame(['anil', 'err', 10], index=df.columns).T

   col1 col2 col3
0  anil  err   10

In [28]:
df

  col1   col2 col3
0  hey  selam   19
0  hey  selam   19

In [29]:
def deco(func):
    def wrapped(*args):
        degisken1 = 10
        degisken2 = 12
        
        func(degisken1, degisken2)
    
    return wrapped
     


@deco
def func_1(x,y):
    
    x += 100
    y *= 5

    print('func_1 calisti')
    print('x: ', x, '\ny: ', y)


@deco
def func_2():

    x /= 10
    print('func_2 calisti')
    print('x: ', x)

In [30]:
import time
import os

# Ekrana bir şey bastır
print("Merhaba, bu mesaj 2 saniye boyunca ekranda kalacak.")

# 2 saniye beklet
time.sleep(2)

# Ekrandaki mesajı temizle
os.system('cls' if os.name == 'nt' else 'clear')  # Windows'ta 'cls', diğer sistemlerde 'clear'

# Mesajın yerine başka bir şey bastırabilirsiniz
print("Ekrandaki önceki mesaj silindi.")

Merhaba, bu mesaj 2 saniye boyunca ekranda kalacak.

Ekrandaki önceki mesaj silindi.

In [31]:
from IPython.display import clear_output
import time

# Ekrana bir şey bastır
print("Merhaba, bu mesaj 2 saniye boyunca ekranda kalacak.")

# 2 saniye beklet
time.sleep(2)

# Ekrandaki mesajı temizle
clear_output(wait=True)

# Mesajın yerine başka bir şey bastırabilirsiniz
print("Ekrandaki önceki mesaj silindi.")

Ekrandaki önceki mesaj silindi.

In [32]:
def ornek():

    x = 10

ornek()

print(x)

NameError: name 'x' is not defined

In [65]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

def zaman_str_donusturucu(df):
    # Dönüşüm fonksiyonlarını ayrı birer dict olarak tanımlayın
    quarter_dict = {1: 'First Q', 2: 'Second Q', 3: 'Third Q', 4: 'Fourth Q'}
    month_dict = {1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}
    day_dict = {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}

    # Sütunlarınızı dönüştürürken map fonksiyonunu kullanın
    df['quarter'] = df['quarter'].map(quarter_dict)
    df['month'] = df['month'].map(month_dict)
    df['week_of_day'] = df['week_of_day'].map(day_dict)
    
    return df
# Örnek veri seti
data = {
    'quarter': [1, 1, 2, 3, 4, 1, 2, 3, 4, 2],
    'month': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'week_of_day': [1, 2, 3, 4, 5, 6, 7, 1, 2, 3],
    'delay': ['2', '3', '4', '0', '1', '6', '2', '1', '0', '5']
}

df = pd.DataFrame(data)

df = zaman_str_donusturucu(df)

df_encoded = pd.get_dummies(df, prefix='', prefix_sep='')

apriori(df_encoded, min_support=0.1, use_colnames=True).sort_values(by='support', ascending=False).head(100)
# Sonuçları görüntüleme
# print("Sık Geçen Öğeler:")
# print(frequent_itemsets)
# print("\nİlişki Kuralları:")
# print(rules)

     support                       itemsets
0        0.3                      (First Q)
2        0.3                     (Second Q)
15       0.2                       (Monday)
47       0.2          (Second Q, Wednesday)
23       0.2                            (2)
22       0.2                            (1)
21       0.2                            (0)
19       0.2                      (Tuesday)
20       0.2                    (Wednesday)
3        0.2                      (Third Q)
1        0.2                     (Fourth Q)
80       0.1                  (6, Saturday)
90       0.1              (2, First Q, Jan)
102      0.1        (Sunday, Second Q, Jul)
101      0.1         (Fourth Q, 0, Tuesday)
100      0.1          (Fourth Q, 1, Friday)
99       0.1             (Fourth Q, Sep, 0)
98       0.1       (Fourth Q, Sep, Tuesday)
97       0.1             (Fourth Q, 1, May)
96       0.1        (Fourth Q, May, Friday)
95       0.1          (3, First Q, Tuesday)
94       0.1         (6, First Q, Saturday)
93       0.1           (2, Monday, First Q)
92       0.1              (Jun, 6, First Q)
91       0.1       (Jun, First Q, Saturday)
89       0.1         (Monday, First Q, Jan)
81       0.1                    (2, Sunday)
76       0.1                       (Sep, 0)
77       0.1                    (1, Friday)
78       0.1                    (Monday, 1)
104      0.1     (Mar, Second Q, Wednesday)
88       0.1              (Feb, 3, First Q)
87       0.1        (Feb, First Q, Tuesday)
86       0.1                 (Wednesday, 5)
79       0.1                    (2, Monday)
85       0.1                 (4, Wednesday)
84       0.1                   (3, Tuesday)
83       0.1                   (0, Tuesday)
82       0.1                  (Thursday, 0)
103      0.1             (2, Second Q, Jul)
109      0.1       (4, Second Q, Wednesday)
105      0.1             (Mar, 4, Second Q)
106      0.1     (Oct, Second Q, Wednesday)
135      0.1    (Apr, Thursday, Third Q, 0)
134      0.1  (Oct, Second Q, Wednesday, 5)
133      0.1  (Mar, 4, Second Q, Wednesday)
132      0.1     (2, Sunday, Second Q, Jul)
131      0.1    (Fourth Q, Tuesday, Sep, 0)
130      0.1     (Fourth Q, 1, May, Friday)
129      0.1    (Jun, 6, First Q, Saturday)
128      0.1      (Monday, Jan, First Q, 2)
127      0.1     (Feb, 3, First Q, Tuesday)
126      0.1              (Tuesday, Sep, 0)
125      0.1            (Oct, Wednesday, 5)
124      0.1               (1, May, Friday)
123      0.1            (Mar, 4, Wednesday)
122      0.1             (Jun, 6, Saturday)
121      0.1               (2, Sunday, Jul)
120      0.1               (Monday, Jan, 2)
119      0.1              (Feb, 3, Tuesday)
118      0.1               (Monday, Aug, 1)
117      0.1             (Apr, Thursday, 0)
116      0.1         (Thursday, Third Q, 0)
115      0.1           (Monday, Third Q, 1)
114      0.1              (Aug, Third Q, 1)
113      0.1         (Monday, Aug, Third Q)
112      0.1              (Apr, Third Q, 0)
111      0.1       (Apr, Thursday, Third Q)
110      0.1       (Second Q, Wednesday, 5)
74       0.1                       (Oct, 5)
108      0.1          (2, Sunday, Second Q)
107      0.1             (Oct, Second Q, 5)
75       0.1                 (Sep, Tuesday)
68       0.1                       (Jun, 6)
73       0.1               (Oct, Wednesday)
24       0.1                            (3)
37       0.1                (Fourth Q, May)
36       0.1                   (6, First Q)
35       0.1                   (3, First Q)
34       0.1                   (2, First Q)
33       0.1             (First Q, Tuesday)
32       0.1            (First Q, Saturday)
31       0.1              (Monday, First Q)
30       0.1                 (Jun, First Q)
29       0.1                 (First Q, Jan)
28       0.1                 (Feb, First Q)
27       0.1                            (6)
26       0.1                            (5)
25       0.1                            (4)
18       0.1                     (Thursday)
39       0.1             (Fourth Q, Friday)
17       0.1                       (Sunday)
16       0.1                     (Saturday)
14       0.1                       (Friday)
13       0.1                          (Sep)
12       0.1                          (Oct)
11       0.1                          (May)
10       0.1                          (Mar)
9        0.1                          (Jun)
8        0.1                          (Jul)

In [45]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

def zaman_str_donusturucu(df):
    quarter_dict = {1: 'First Q', 2: 'Second Q', 3: 'Third Q', 4: 'Fourth Q'}
    month_dict = {1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}
    day_dict = {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}

    df['quarter'] = df['quarter'].map(quarter_dict)
    df['month'] = df['month'].map(month_dict)
    df['week_of_day'] = df['week_of_day'].map(day_dict)
    
    return df

# Örnek veri seti
data = {
    'quarter': [1, 1, 2, 3, 4, 1, 2, 3, 4, 2],
    'month': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'week_of_day': [1, 2, 3, 4, 5, 6, 7, 1, 2, 3],
    'delay': [2, 3, 4, 0, 1, 6, 2, 1, 0, 5]
}

df = pd.DataFrame(data)
df = zaman_str_donusturucu(df)

te = TransactionEncoder()
te_ary = te.fit(df.astype(str)).transform(df.astype(str))
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

frequent_itemsets = apriori(df_encoded, min_support=0.2, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

# Sütun adlarını düzenleme
frequent_itemsets['itemsets'] = frequent_itemsets['itemsets'].apply(lambda x: set(te.columns_[x]))

# İlişki kurallarındaki antecedents ve consequents sütunlarını güncelleme
rules['antecedents'] = rules['antecedents'].apply(lambda x: set(te.columns_[x]))
rules['consequents'] = rules['consequents'].apply(lambda x: set(te.columns_[x]))

print("Sık Geçen Öğeler:")
print(frequent_itemsets)
print("\nİlişki Kuralları:")
print(rules)

TypeError: list indices must be integers or slices, not frozenset

In [37]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

def zaman_str_donusturucu(df):
    # Dönüşüm fonksiyonlarını ayrı birer dict olarak tanımlayın
    quarter_dict = {1: 'First Q', 2: 'Second Q', 3: 'Third Q', 4: 'Fourth Q'}
    month_dict = {1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}
    day_dict = {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}

    # Sütunlarınızı dönüştürürken map fonksiyonunu kullanın
    df['quarter'] = df['quarter'].map(quarter_dict)
    df['month'] = df['month'].map(month_dict)
    df['week_of_day'] = df['week_of_day'].map(day_dict)
    
    return df

# Örnek veri seti
data = {
    'quarter': [1, 1, 2, 3, 4, 1, 2, 3, 4, 2],
    'month': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'week_of_day': [1, 2, 3, 4, 5, 6, 7, 1, 2, 3],
    'delay': [2, 3, 4, 0, 1, 6, 2, 1, 0, 5]
}

df = pd.DataFrame(data)

# Dönüşüm fonksiyonunu uygulayın
df = zaman_str_donusturucu(df)
df

    quarter month week_of_day  delay
0   First Q   Jan      Monday      2
1   First Q   Feb     Tuesday      3
2  Second Q   Mar   Wednesday      4
3   Third Q   Apr    Thursday      0
4  Fourth Q   May      Friday      1
5   First Q   Jun    Saturday      6
6  Second Q   Jul      Sunday      2
7   Third Q   Aug      Monday      1
8  Fourth Q   Sep     Tuesday      0
9  Second Q   Oct   Wednesday      5

In [ ]:
# TransactionEncoder kullanarak veriyi hazırlama
te = TransactionEncoder()
te_ary = te.fit(df.values).transform(df.values)
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

# Apriori algoritması ile sık geçen öğeleri bulma
frequent_itemsets = apriori(df_encoded, min_support=0.2, use_colnames=True)

# Elde edilen sık geçen öğeler üzerinde ilişki kurallarını çıkarma
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

# Sonuçları görüntüleme
print("Sık Geçen Öğeler:")
print(frequent_itemsets)
print("\nİlişki Kuralları:")
print(rules)

In [35]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

def zaman_str_donusturucu(df):
    quarter_dict = {1: 'First Q', 2: 'Second Q', 3: 'Third Q', 4: 'Fourth Q'}
    month_dict = {1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}
    day_dict = {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}

    df['quarter'] = df['quarter'].map(quarter_dict)
    df['month'] = df['month'].map(month_dict)
    df['week_of_day'] = df['week_of_day'].map(day_dict)

    return df

# Örnek veri seti
data = {
    'quarter': [1, 1, 2, 3, 4, 1, 2, 3, 4, 2],
    'month': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'week_of_day': [1, 2, 3, 4, 5, 6, 7, 1, 2, 3],
    'delay': [2, 3, 4, 0, 1, 6, 2, 1, 0, 5]
}

df = pd.DataFrame(data)

df = zaman_str_donusturucu(df)

# TransactionEncoder kullanarak veriyi hazırlama
te = TransactionEncoder()
te_ary = te.fit(df.astype(str)).transform(df.astype(str))
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

# Apriori algoritması ile sık geçen öğeleri bulma
frequent_itemsets = apriori(df_encoded, min_support=0.2, use_colnames=True)

# Elde edilen sık geçen öğeler üzerinde ilişki kurallarını çıkarma
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

# Sonuçları görüntüleme
print("Sık Geçen Öğeler:")
print(frequent_itemsets)
print("\nİlişki Kuralları:")
print(rules)

Sık Geçen Öğeler:
    support      itemsets
0       0.3           (a)
1       0.2           (d)
2       0.3           (e)
3       0.2           (o)
4       0.2           (t)
5       0.2           (y)
6       0.2        (d, a)
7       0.3        (a, e)
8       0.2        (a, y)
9       0.2        (d, e)
10      0.2        (d, y)
11      0.2        (e, y)
12      0.2     (d, a, e)
13      0.2     (d, a, y)
14      0.2     (a, e, y)
15      0.2     (d, e, y)
16      0.2  (d, a, e, y)

İlişki Kuralları:
   antecedents consequents  antecedent support  consequent support  support  \
0          (d)         (a)                 0.2                 0.3      0.2
1          (a)         (e)                 0.3                 0.3      0.3
2          (e)         (a)                 0.3                 0.3      0.3
3          (y)         (a)                 0.2                 0.3      0.2
4          (d)         (e)                 0.2                 0.3      0.2
5          (d)         (y)                 0.2                 0.2      0.2
6          (y)         (d)                 0.2                 0.2      0.2
7          (y)         (e)                 0.2                 0.3      0.2
8       (d, a)         (e)                 0.2                 0.3      0.2
9       (d, e)         (a)                 0.2                 0.3      0.2
10         (d)      (a, e)                 0.2                 0.3      0.2
11      (d, a)         (y)                 0.2                 0.2      0.2
12      (d, y)         (a)                 0.2                 0.3      0.2
13      (a, y)         (d)                 0.2                 0.2      0.2
14         (d)      (a, y)                 0.2                 0.2      0.2
15         (y)      (d, a)                 0.2                 0.2      0.2
16      (a, y)         (e)                 0.2                 0.3      0.2
17      (e, y)         (a)                 0.2                 0.3      0.2
18         (y)      (a, e)                 0.2                 0.3      0.2
19      (d, e)         (y)                 0.2                 0.2      0.2
20      (d, y)         (e)                 0.2                 0.3      0.2
21      (e, y)         (d)                 0.2                 0.2      0.2
22         (d)      (e, y)                 0.2                 0.2      0.2
23         (y)      (d, e)                 0.2                 0.2      0.2
24   (d, a, e)         (y)                 0.2                 0.2      0.2
25   (d, a, y)         (e)                 0.2                 0.3      0.2
26   (d, e, y)         (a)                 0.2                 0.3      0.2
27   (a, e, y)         (d)                 0.2                 0.2      0.2
28      (d, a)      (e, y)                 0.2                 0.2      0.2
29      (d, e)      (a, y)                 0.2                 0.2      0.2
30      (d, y)      (a, e)                 0.2                 0.3      0.2
31      (a, y)      (d, e)                 0.2                 0.2      0.2
32      (e, y)      (d, a)                 0.2                 0.2      0.2
33         (d)   (a, e, y)                 0.2                 0.2      0.2
34         (y)   (d, a, e)                 0.2                 0.2      0.2

    confidence      lift  leverage  conviction  zhangs_metric
0          1.0  3.333333      0.14         inf          0.875
1          1.0  3.333333      0.21         inf          1.000
2          1.0  3.333333      0.21         inf          1.000
3          1.0  3.333333      0.14         inf          0.875
4          1.0  3.333333      0.14         inf          0.875
5          1.0  5.000000      0.16         inf          1.000
6          1.0  5.000000      0.16         inf          1.000
7          1.0  3.333333      0.14         inf          0.875
8          1.0  3.333333      0.14         inf          0.875
9          1.0  3.333333      0.14         inf          0.875
10         1.0  3.333333      0.14         inf          0.875
11         1.0  5.000000      0.16         inf          1.000
12         1.0  3.333333      0.14         inf          0.875
13         1.0  5.000000      0.16         inf          1.000
14         1.0  5.000000      0.16         inf          1.000
15         1.0  5.000000      0.16         inf          1.000
16         1.0  3.333333      0.14         inf          0.875
17         1.0  3.333333      0.14         inf          0.875
18         1.0  3.333333      0.14         inf          0.875
19         1.0  5.000000      0.16         inf          1.000
20         1.0  3.333333      0.14         inf          0.875
21         1.0  5.000000      0.16         inf          1.000
22         1.0  5.000000      0.16         inf          1.000
23         1.0  5.000000      0.16         inf          1.000
24         1.0  5.000000      0.16         inf          1.000
25         1.0  3.333333      0.14         inf          0.875
26         1.0  3.333333      0.14         inf          0.875
27         1.0  5.000000      0.16         inf          1.000
28         1.0  5.000000      0.16         inf          1.000
29         1.0  5.000000      0.16         inf          1.000
30         1.0  3.333333      0.14         inf          0.875
31         1.0  5.000000      0.16         inf          1.000
32         1.0  5.000000      0.16         inf          1.000
33         1.0  5.000000      0.16         inf          1.000
34         1.0  5.000000      0.16         inf          1.000

In [5]:
import pandas as pd

liste = [2,4,24,64,31,50,100,4,23,0,75]

seri = pd.Series(liste)

seri.map(lambda x: x**2 if x > 50 else x)

0         2
1         4
2        24
3      4096
4        31
5        50
6     10000
7         4
8        23
9         0
10     5625
dtype: int64