In [1]:
import pandas as pd
import numpy as np

# 5 kolonlu ve 10 satırlı bir DataFrame oluşturma
data = {
    'A': np.random.randint(1, 100, 10),
    'B': np.random.rand(10),
    'C': ['X', 'Y', 'Z', 'W', 'U', 'V', 'T', 'S', 'R', 'Q'],
    'D': np.random.choice(['Red', 'Blue', 'Green'], 10),
    'E': ['Apple', 'Banana', 'Cherry', 'Date', 'Grape', 'Fig', 'Kiwi', 'Lemon', 'Mango', 'Orange']
}

df = pd.DataFrame(data)

# DataFrame'i görüntüleme
print(df)

    A         B  C      D       E
0  64  0.082482  X  Green   Apple
1  58  0.884676  Y    Red  Banana
2  57  0.719929  Z    Red  Cherry
3  69  0.450960  W   Blue    Date
4  50  0.421843  U    Red   Grape
5  94  0.175490  V    Red     Fig
6  88  0.425965  T  Green    Kiwi
7  58  0.046327  S    Red   Lemon
8  93  0.913030  R   Blue   Mango
9  34  0.812697  Q  Green  Orange

In [17]:
liste = ['B', 'D', 'E']

df[liste].astype(str).agg(' / '.join, axis=1).to_frame(' / '.join(liste))

                             B / D / E
0  0.08248186535388402 / Green / Apple
1    0.8846757642085055 / Red / Banana
2    0.7199290646590429 / Red / Cherry
3    0.45095956607152143 / Blue / Date
4     0.4218428151700949 / Red / Grape
5      0.17549046688148662 / Red / Fig
6    0.4259648364612929 / Green / Kiwi
7    0.04632706424699895 / Red / Lemon
8    0.9130300024663427 / Blue / Mango
9  0.8126967403913848 / Green / Orange

              D_E
0   Green / Apple
1    Red / Banana
2    Red / Cherry
3     Blue / Date
4     Red / Grape
5       Red / Fig
6    Green / Kiwi
7     Red / Lemon
8    Blue / Mango
9  Green / Orange

In [1]:
def my_decorator(func):
    def wrapper():
        print("Fonksiyon öncesinde bir şeyler yapılabilir.")
        func()
        print("Fonksiyon sonrasında bir şeyler yapılabilir.")
    return wrapper

@my_decorator
def say_hello():
    print("Merhaba!")

# Fonksiyonu çağırdığınızda decorator devreye girer.
say_hello()

Fonksiyon öncesinde bir şeyler yapılabilir.
Merhaba!
Fonksiyon sonrasında bir şeyler yapılabilir.

In [9]:
# defining a decorator
def hello_decorator(func):
 
    # inner1 is a Wrapper function in 
    # which the argument is called
     
    # inner function can access the outer local
    # functions like in this case "func"
    def inner1():
        print("Hello, this is before function execution")
 
        # calling the actual function now
        # inside the wrapper function.
        func()
 
        print("This is after function execution")
         
    return inner1
 
 
# defining a function, to be called inside wrapper
def function_to_be_used():
    print("This is inside the function !!")
 
 
# passing 'function_to_be_used' inside the
# decorator to control its behaviour
    
# function_to_be_used = hello_decorator(function_to_be_used)
 
 
# calling the function
function_to_be_used()

This is inside the function !!

In [8]:
# defining a decorator
def hello_decorator(func):

    def inner1():
        print("Hello, this is before function execution")
 
        # calling the actual function now
        # inside the wrapper function.
        func()
 
        print("This is after function execution")
         
    return inner1
 
 
# defining a function, to be called inside wrapper

@hello_decorator
def function_to_be_used():
    print("This is inside the function !!")
 
 
# passing 'function_to_be_used' inside the
# decorator to control its behaviour
    
# function_to_be_used = hello_decorator(function_to_be_used)
 
 
# calling the function
function_to_be_used()

Hello, this is before function execution
This is inside the function !!
This is after function execution

In [64]:
import pandas


df = pandas.DataFrame(columns=['col1', 'col2', 'col3'])
s = pandas.Series(['hey', 'selam', 19], index=df.columns)

df = pandas.concat([df, s.to_frame().T])

In [65]:
s = pandas.Series(['hey', 'selam', 19], index=df.columns)

df = pandas.concat([df, s.to_frame().T])

In [72]:
def func():
    x = 10
    y = 30

    return x,y


u = func()[1]
u

30

In [69]:
pandas.DataFrame(['anil', 'err', 10], index=df.columns).T

   col1 col2 col3
0  anil  err   10

In [66]:
df

  col1   col2 col3
0  hey  selam   19
0  hey  selam   19

In [25]:
def deco(func):
    def wrapped(*args):
        degisken1 = 10
        degisken2 = 12
        
        func(degisken1, degisken2)
    
    return wrapped
     


@deco
def func_1(x,y):
    
    x += 100
    y *= 5

    print('func_1 calisti')
    print('x: ', x, '\ny: ', y)


@deco
def func_2():

    x /= 10
    print('func_2 calisti')
    print('x: ', x)

TypeError: func_main() takes 0 positional arguments but 2 were given

In [1]:
import time
import os

# Ekrana bir şey bastır
print("Merhaba, bu mesaj 2 saniye boyunca ekranda kalacak.")

# 2 saniye beklet
time.sleep(2)

# Ekrandaki mesajı temizle
os.system('cls' if os.name == 'nt' else 'clear')  # Windows'ta 'cls', diğer sistemlerde 'clear'

# Mesajın yerine başka bir şey bastırabilirsiniz
print("Ekrandaki önceki mesaj silindi.")

Merhaba, bu mesaj 2 saniye boyunca ekranda kalacak.
Ekrandaki önceki mesaj silindi.

In [2]:
from IPython.display import clear_output
import time

# Ekrana bir şey bastır
print("Merhaba, bu mesaj 2 saniye boyunca ekranda kalacak.")

# 2 saniye beklet
time.sleep(2)

# Ekrandaki mesajı temizle
clear_output(wait=True)

# Mesajın yerine başka bir şey bastırabilirsiniz
print("Ekrandaki önceki mesaj silindi.")

Ekrandaki önceki mesaj silindi.

In [3]:
def ornek():

    x = 10

ornek()

print(x)

NameError: name 'x' is not defined